.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar{
  height: 5rem;
  background-color: #282c34;
  /* padding: 1em; */
  /* flex-direction: column; */
  display: flex;
  justify-content: space-between;
}
.navbar > h2{
  color: aliceblue;
}
.mainBody{
  display: flex;
  justify-content: space-around;
}
.mainBody>div{
  width: 45%;
}
.card-body{
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
}
.card-body-upper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-panel{
  position: absolute;
  top: 65%;
  left: 30px;
  width: 600px;
  background-color: rgb(255, 255, 255);
}
